{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-4">

            {% include 'user/_sidebaruser.html.twig' %}

            <!-- Main Content -->
            <div class="col-lg-10">
                <h1>User Dashboard</h1>


            </div> <!-- close col-lg-10 -->
        </div> <!-- close row -->
    </div> <!-- close container-fluid -->



{% endblock %}
