{# Mobile sidebar toggle button - visible only on small screens #}
<div class="d-lg-none mb-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar">
        <i class="bi bi-list"></i> Menu
    </button>
</div>

{# Offcanvas sidebar for mobile #}
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mobileSidebarLabel">Admin Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">

            <a href="{{ path('admin_users_list') }}" class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') == 'admin_users_list' %} active{% endif %}">
                <i class="bi bi-people"></i> Users
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-file-earmark-text"></i> Forms
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-gear"></i> Settings
            </a>
        </div>
    </div>
</div>

{# Desktop sidebar - visible only on large screens #}
<div class="col-lg-2 d-none d-lg-block">
    <div class="list-group">

        <a href="{{ path('admin_users_list') }}" class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') == 'admin_users_list' %} active{% endif %}">
            <i class="bi bi-people"></i> Users
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-file-earmark-text"></i> Forms
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-gear"></i> Settings
        </a>
    </div>
</div>
