{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-4">
            {% include 'user/_sidebaruser.html.twig' %}
            <div class="col-lg-10">
                <!-- Main Content -->

                <h1 class="text-center mb-4">Create Template</h1>
                <form action="/template/create" method="post">
                    <!-- CSRF Token -->
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('form') }}">

                    <!-- Title Input -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Template Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title of the template" required>
                    </div>

                    <!-- Submit Button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Create Template</button>
                    </div>
                </form>





            </div> <!-- close col-lg-10 -->
        </div> <!-- close row -->
    </div> <!-- close container-fluid -->



{% endblock %}
